body {
    background-color:Red;
}

 * {
     -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
     box-sizing: border-box;
     padding: 0;
     margin: 0;
 }

 html {
     scroll-behavior: smooth;
 }