@import "style.sass";

$bg-color: #fcfcfc;

.row .li:nth-child(odd) {
  background-color:$bg-color;
}























//$font-family : sans-serif;
//$bg-color: #f5f5f5;
//$primary-color: #333;
//$first-section-bg: url("../../img/create.jpg");
//$second-section-bg: url("../../img/bg1.jpg");
//
//
//
//
//* {
//  padding: 0;
//  margin: 0;
//  box-sizing: border-box;
//}
//body {
//  color: $bg-color;
//  font-family: $font-family;
//  background-color:$primary-color;
//}
//
//.primary-color-bg {
//  background-color:$primary-color;
//}
//
//.primary-color {
//  color: $primary-color;
//}
//
//
//.container {
//  max-width:90%;
//  margin:auto;
//  background-color: transparent;
//}
//
//.score {
//  width:300px;
//  height: 100px;
//  background-color:#fff;
//  display: flex;
//  flex-wrap: wrap;
//  justify-content: space-between;
//  margin:auto;
//}
//
//
//
//
//.game{
//  display:flex;
//  justify-content: space-between;
//
//
//  .game-element{
//
//
//   img {
//    width:250px;
//    height: 200px;
//     border-radius: 100%;
//     cursor:pointer;
//   }
//
//  }
//}
//
//
//
//
//
//nav {
//  transition: 1s;

//}
//
//
//.menu {
//
//  nav {
//
//    margin-right: 100px;
//  }
//  ul {
//    display:flex;
//
//    li{
//      list-style: none;
//      padding:15px 10px;
//
//      &:hover {
//        background-color:lightcoral;
//      }
//
//      a{
//        text-decoration:none;
//        color:$primary-color;
//
//
//      }
//    }
//
//  }
//
//
//}
//
//.big-bg{
//  width: 100%;
//  height: 75vh;
//  background: $first-section-bg;
//  background-repeat: no-repeat;
//  background-size: cover;
//  background-position-y: center;
//  position:relative;
//  z-index: 1;
//
//  .overlay{
//    position:absolute;
//    z-index: 2;
//    width:100%;
//    height: 100%;
//    background-color:black;
//    opacity: 0.3;
//  }
//
//  .inner-bg{
//    position:absolute;
//    top:50%;
//    left:50%;
//    transform: translate(-50%,-50%);
//    z-index: 3;
//  }
//}
//
//
//
//.clearfix:after {
//  content: " ";
//  display: table;
//  clear:both;
//}
//
//.sticky {
//  position: fixed;
//  top:0;
//  width:100%;
//}
//
//
//
//.services-section{
//  background: $second-section-bg;
//  background-size: cover;
//  padding: 60px 0;
//  transition: 1s;
//}
//
//.changecolor {
//  background-color:red;
//}
//.inner-width{
//  width: 100%;
//  max-width: 1200px;
//  margin: auto;
//  padding: 0 20px;
//  overflow: hidden;
//}
//.section-title{
//  text-align: center;
//  color: #ddd;
//  text-transform: uppercase;
//  font-size: 30px;
//}
//.border{
//  width: 160px;
//  height: 2px;
//  background: #ddd;
//  margin: 40px auto;
//}
//.services-container{
//  display: flex;
//  flex-wrap: wrap;
//  justify-content: center;
//}
//
//.service-box{
//  max-width: 33.33%;
//  padding: 10px;
//  text-align: center;
//  color:#f5f5f5;
//  cursor: pointer;
//
//}
//
//.slide-in {
//  opacity: 1;
//  transform: translateY(0%);
//}
//
//.service-icon{
//  display: inline-block;
//  width: 70px;
//  height: 70px;
//  border: 3px solid #82ccdd;
//  color: #82ccdd;
//  transform: rotate(45deg);
//  margin-bottom: 30px;
//  margin-top: 16px;
//  transition: 0.3s linear;
//}
//.service-icon i{
//  line-height: 70px;
//  transform: rotate(-45deg);
//  font-size: 26px;
//}
//.service-box:hover .service-icon{
//  background: #82ccdd;
//  color: #ddd;
//}
//.service-title{
//  font-size: 18px;
//  text-transform: uppercase;
//  margin-bottom: 10px;
//}
//.service-desc{
//  font-size: 14px;
//}
//
//@media screen and (max-width:960px) {
//  .service-box{
//    max-width: 45%;
//  }
//}
//
//@media screen and (max-width:768px) {
//  .service-box{
//    max-width: 50%;
//  }
//}
//
//@media screen and (max-width:480px) {
//  .service-box{
//    max-width: 100%;
//  }
//}
//

